<h1>New photo</h1>

<%= form_for @pdf do |f| %>

  <div class="form-group">
    <%= f.label :attachment %>
    <%= f.file_field :attachment, required: true %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary btn-lg' %>
<% end %>
